.container {
    margin: 50px auto;
    // min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-page {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.pagination {
    // float: right;
    margin: 0 0 10px;
    display: inline;
}

.navPerPage {
    margin: 0px 5px;
    cursor: pointer;

    &.active {
        color: #2997ff;
    }
}

.pagination-button {
    border-radius: 3px;
    margin: 2px;
    &.active {
        background-color: #343a40;
        color: white;
    }
}

button {
    border-radius: 3px;
    margin: 0 2px;
    background-color: white;
    border: 1px solid black;
    &:hover {
        background-color: #bcbec0;
        border: 1px solid #bcbec0;
    }
}

form {
    // float: left;
    margin-bottom: 10px;
    display: inline-block;
}

input, button, select, optgroup, textarea {
    height: 30px;
}

.col-2 {
    right: -40px;
}

.custom-select {
    width: 80px;
}

.page-link {
    color: #21252a;
    &:hover {
        color: #4a5058;
    }
}

.page-item.active .page-link {
    background-color: #21252a;
    border-color: #21252a;
}

.title {
    font-family:
        'Quicksand',
        'Source Sans Pro',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
}

td {
    text-align: left;
    color: #343a40;
}

th {
    cursor: pointer;
}

.table .thead-dark th:hover {
    color: #2997ff;
}

.subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
}

.links {
    padding-top: 15px;
}
